<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cookbook">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".utils.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="CookBook"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".onlineREcipe.RecipeOnlineActivity"
            android:parentActivityName=".recipeDetailsPage.RecipeDetailsActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cookbook.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".addRecipePage.AddRecipeActvity" />
        <activity
            android:name=".recipeDetailsPage.RecipeDetailsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity"></activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name=".loginPage.LandingPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
